---
### Example OCM Container Configuration.
#
# This file contains all of the configuration options
# available and their defaults and options.

# Set the container engine to use. Supported options are
# `podman` or `docker`.
engine: podman


# volumes contains a list of local directories to pass
# into the container as additional volumes.
volumes:
  - /path/to/local/dir:/root/dir

# Individual feature configuration
features:

  # The certificate authorities functionality automatically
  # mounts your trusted certificates inside the container
  certificate_authorities:
    # Enable or disable the CA integration
    # Defaults to true
    enabled: true

    # Optional path to the source anchors folder on your host
    # to mount in the container. Default is as shown:
    source_anchors: /etc/pki/ca-trust/source/anchors


  # The GCP integration mounts the google cloud CLI directory
  # and passes it to the default location within the container.
  gcloud:
    # Enable or disable the gcloud integration
    # Defaults to true
    enabled: true

    # Optional path to the gcp config directory, defaults
    # to ~/.config/gcloud
    config_file: .config/gcloud

  # The JIRA integration mounts JIRA env vars and
  # config file to be able to use the JIRA cli
  # within the container
  jira:
    # Enable or disable the JIRA integration
    # Defaults to true
    enabled: true

    # Optional path to the config.yml file, defaults
    # to ~/.jira/.config.yml
    config_file: .jira/.config.yml

    # Optional mount directive to mount hte config file
    # read-only or read-write. Defaults to `ro`.
    # Accepted values are `ro` or `rw`
    config_mount: ro

  # The Legacy AWS Credentials integration mounts your
  # ~/.aws/config and ~/.aws/credentials files so that your
  # AWS Profiles are available within the container.
  legacy_aws_credentials:
    # Enable or disable the AWS Profile integration
    enabled: true

  # The PagerDuty integration mounts a pagerduty config file
  # for use of the pd-cli within the container.
  pagerduty:
    # Enable or disable the pagerduty integration
    # Default: true, switch to false to disable.
    enabled: true

    # Optional path to the token file. Defaults to
    # ~/.config/pagerduty-cli/config.json. Also automatically
    config_file: ~/.config/pagerduty-cli/config.json

    # Optional mount option directive to mount the config file
    # read-only or read-write. Defaults to `rw`. Accepted
    # values are `rw` or `ro`
    config_mount: rw

  # The Ops Utils integration mounts the ops-sop/v4/utils
  # directory into the container at /root/ops-utils
  ops_utils:
    # Enable or disable the ops-utils integration
    # Default: true, switch to false to disable.
    enabled: true

    # Path to the ops-sop/v4/utils directory
    # This is required for the feature to work - no default value
    source_dir: /path/to/ops-sop/v4/utils

    # Optional mount option directive to mount the directory
    # read-only or read-write. Defaults to `ro`. Accepted
    # values are `rw` or `ro`
    mount_options: ro
